In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.cm as cm
import seaborn as sns
from sklearn.impute import SimpleImputer

### Hamza Clustering

In [4]:
survey_environ = pd.read_csv('survey_environ.csv')
labels = []
scaler = StandardScaler()

In [5]:
survey_environ.head()

,Unnamed: 0,objectId,marriageStatus,occupation,educationLevel,latitude,longitude,age,sex,clustersByLoc,...,conditionoRoofinyourhouse,medicalproblemswheredoyougo,dentalproblemswheredoyougo,biggestproblemofcommunity,timesperweektrashcollected,wheretrashleftbetweenpickups,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess
0,0,lLkC5HGPOC,widow,Ama de casa,lessThanprimary,18.914416,-70.745642,67.0,female,1,...,working,Other Hospital,Other Hospital,Roads,1-2,other,1,0,rented,NaN
1,1,gIoG2SAL99,widow,Other,lessThanprimary,18.914196,-70.746286,80.0,male,1,...,poor,Other Hospital,Dentist,Roads,1-2,other,5,0,owned,NaN
2,2,GiArohoFUo,married,Other,college,18.910474,-70.747658,41.0,female,1,...,NaN,Other,Clinic,Other,3-5,other,4,0,NaN,NaN
3,3,rnNw8AxEix,single,Ama de casa,primary,18.910484,-70.747650,40.0,female,1,...,working,Other Hospital,Other,Water,1-2,other,4,0,NaN,NaN
4,4,YBLTPHNqsH,concubine,Other,lessThanprimary,18.915163,-70.741626,59.0,male,1,...,working,Clinic,Other,Other,1-2,street,4,0,NaN,NaN

In [ ]:
s_e_cluster = survey_environ.copy()
s_e_cluster = s_e_cluster.drop(["latitude","longitude"],axis=1)
s_e_cluster['objectId'] = s_e_cluster.index
s_e_cluster = pd.get_dummies(s_e_cluster)
s_e_cluster_scaled = scaler.fit_transform(s_e_cluster)

In [ ]:
inertias = []
num_clusters = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for k in num_clusters:
    model = KMeans(n_clusters = k, random_state = 42)
    model.fit(s_e_cluster_scaled)
    inertias.append(model.inertia_)

plt.plot(num_clusters, inertias, "-o")

In [ ]:
model_KMeans =  KMeans(n_clusters = 12, random_state = 42)
labels = model_KMeans.fit_predict(s_e_cluster_scaled)
labels

In [ ]:
labels.size

In [ ]:
se_clustered = survey_environ.copy()
se_clustered['cluster'] = labels
se_clustered.head()

In [ ]:
plt.figure(figsize = (12,8))
ax = sns.scatterplot(data = se_clustered, x = "longitude", y = "latitude", hue = "cluster", palette = "deep")

In [ ]:
s_e_cluster['cluster'] = labels
pd.set_option('max_columns', None)
s_e_cluster.groupby('cluster').sum()