In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [7]:
def format_json(data):
    init = pd.DataFrame.from_dict(data).loc[0][0]
    for obj in init:
        if type(init[obj])!=list or len(init[obj])!=1:
            init[obj] = [init[obj]]
    df = pd.DataFrame.from_dict(init)
    for i in range(1,pd.DataFrame.from_dict(data).shape[0]):
        curr = pd.DataFrame.from_dict(data).loc[i][0]
        for obj in curr:
            if type(curr[obj])!=list or len(curr[obj])!=1:
                curr[obj] = [curr[obj]]
        df_curr = pd.DataFrame.from_dict(curr)
        df = df.append(df_curr)
    return df

In [8]:
with open("HistoryEnvironmentalHealth.json", "r", encoding='utf8') as read_file:
    data = json.load(read_file)

In [9]:
history = format_json(data)
history

,objectId,location,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,...,timesperweektrashcollected,wheretrashleftbetweenpickups,client,createdAt,updatedAt,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType
0,SEf21H2I2g,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1-2,1-2,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-08T00:00:29.250Z,2018-08-08T00:00:29.250Z,NaN,NaN,NaN,NaN,NaN
0,BrW8mWBRQ7,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",lessThan1,lessThan1,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T16:59:29.858Z,2018-08-13T16:59:29.858Z,NaN,NaN,NaN,NaN,NaN
0,YWH1RtjHc1,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,...,2,calle,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:03:42.354Z,2018-08-13T18:03:42.354Z,NaN,NaN,NaN,NaN,NaN
0,Ej4DOenEtZ,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,...,3,Al camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:26:24.407Z,2018-08-13T18:26:24.407Z,NaN,NaN,NaN,NaN,NaN
0,yn3yUTJp9z,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,...,2,Camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:48:18.483Z,2018-08-13T18:48:18.483Z,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,dtUjUPp882,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:29:31.759Z,2020-10-08T20:29:31.759Z,5,1,owned,Y,stoveTop
0,DI9d8BnWVP,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:35:08.360Z,2020-10-08T20:35:08.360Z,2,None,rented,Y,stoveTop
0,cclhZ88xpS,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.083Z,2020-10-08T20:41:00.083Z,4,2,owned,Y,stoveTop
0,M4fsLZhanE,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.325Z,2020-10-08T20:41:00.325Z,4,2,owned,Y,stoveTop
0,1NFhopXn7F,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1_2,1_2,Never,bottled,None,Y,cementWorking,working,...,1,En el frente de la casa,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:46:22.384Z,2020-10-08T20:46:22.384Z,4,2,owned,Y,stoveTop

In [10]:
history.columns

Index(['objectId', 'location', 'yearsLivedinthecommunity',
       'yearsLivedinThisHouse', 'waterAccess', 'typeofWaterdoyoudrink',
       'latrineAccess', 'clinicAccess', 'conditionoFloorinyourhouse',
       'conditionoRoofinyourhouse', 'medicalproblemswheredoyougo',
       'dentalproblemswheredoyougo', 'biggestproblemofcommunity',
       'timesperweektrashcollected', 'wheretrashleftbetweenpickups', 'client',
       'createdAt', 'updatedAt', 'numberofIndividualsLivingintheHouse',
       'numberofChildrenLivinginHouseUndertheAgeof5', 'houseownership',
       'bathroomAccess', 'stoveType'],
      dtype='object')

In [11]:
history_drop = list(history.isnull().sum()[history.isnull().sum(axis=0)>0.8*history.shape[0]].index)
history_drop

[]

In [13]:
history.isnull().sum(axis=0)

objectId                                          0
location                                          0
yearsLivedinthecommunity                         23
yearsLivedinThisHouse                            32
waterAccess                                     126
typeofWaterdoyoudrink                            68
latrineAccess                                  2995
clinicAccess                                    107
conditionoFloorinyourhouse                      134
conditionoRoofinyourhouse                       168
medicalproblemswheredoyougo                     197
dentalproblemswheredoyougo                      999
biggestproblemofcommunity                       275
timesperweektrashcollected                      170
wheretrashleftbetweenpickups                    397
client                                            0
createdAt                                         0
updatedAt                                         0
numberofIndividualsLivingintheHouse             367
numberofChildrenLivinginHouseUndertheAgeof5    2943
houseownership                                  313
bathroomAccess                                 3923
stoveType                                      4729
dtype: int64

In [14]:
pointers = []
for h in history.client.values:
    pointers.append(h['objectId'])
history['objectId'] = pointers

In [15]:
history

,objectId,location,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,...,timesperweektrashcollected,wheretrashleftbetweenpickups,client,createdAt,updatedAt,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType
0,Psto9poSCx,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1-2,1-2,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-08T00:00:29.250Z,2018-08-08T00:00:29.250Z,NaN,NaN,NaN,NaN,NaN
0,y6DJO1kLFl,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",lessThan1,lessThan1,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T16:59:29.858Z,2018-08-13T16:59:29.858Z,NaN,NaN,NaN,NaN,NaN
0,sdPbSYrGCW,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,...,2,calle,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:03:42.354Z,2018-08-13T18:03:42.354Z,NaN,NaN,NaN,NaN,NaN
0,GiArohoFUo,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,...,3,Al camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:26:24.407Z,2018-08-13T18:26:24.407Z,NaN,NaN,NaN,NaN,NaN
0,rnNw8AxEix,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,...,2,Camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:48:18.483Z,2018-08-13T18:48:18.483Z,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,uKN9cHxFDl,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:29:31.759Z,2020-10-08T20:29:31.759Z,5,1,owned,Y,stoveTop
0,pmE94lhtoq,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:35:08.360Z,2020-10-08T20:35:08.360Z,2,None,rented,Y,stoveTop
0,Tn1ljw7wVy,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.083Z,2020-10-08T20:41:00.083Z,4,2,owned,Y,stoveTop
0,Tn1ljw7wVy,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.325Z,2020-10-08T20:41:00.325Z,4,2,owned,Y,stoveTop
0,QpmL0Z6uFm,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1_2,1_2,Never,bottled,None,Y,cementWorking,working,...,1,En el frente de la casa,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:46:22.384Z,2020-10-08T20:46:22.384Z,4,2,owned,Y,stoveTop

In [17]:
lat = []
lon = []
for h in history.location.values:
    lat.append(h['latitude'])
    lon.append(h['longitude'])
history['latitude'] = lat
history['longitude'] = lon
history = history.drop('location',axis=1)
history

,objectId,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,medicalproblemswheredoyougo,...,client,createdAt,updatedAt,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType,latitude,longitude
0,Psto9poSCx,1-2,1-2,None,None,None,None,None,None,None,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-08T00:00:29.250Z,2018-08-08T00:00:29.250Z,NaN,NaN,NaN,NaN,NaN,0,0
0,y6DJO1kLFl,lessThan1,lessThan1,None,None,None,None,None,None,None,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T16:59:29.858Z,2018-08-13T16:59:29.858Z,NaN,NaN,NaN,NaN,NaN,0,0
0,sdPbSYrGCW,5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:03:42.354Z,2018-08-13T18:03:42.354Z,NaN,NaN,NaN,NaN,NaN,0,0
0,GiArohoFUo,moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,Centro medico titi,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:26:24.407Z,2018-08-13T18:26:24.407Z,NaN,NaN,NaN,NaN,NaN,0,0
0,rnNw8AxEix,moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:48:18.483Z,2018-08-13T18:48:18.483Z,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,uKN9cHxFDl,5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:29:31.759Z,2020-10-08T20:29:31.759Z,5,1,owned,Y,stoveTop,0,0
0,pmE94lhtoq,5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:35:08.360Z,2020-10-08T20:35:08.360Z,2,None,rented,Y,stoveTop,0,0
0,Tn1ljw7wVy,5_10,5_10,Never,bottled,None,Y,cementWorking,working,Clinica,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.083Z,2020-10-08T20:41:00.083Z,4,2,owned,Y,stoveTop,0,0
0,Tn1ljw7wVy,5_10,5_10,Never,bottled,None,Y,cementWorking,working,Clinica,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.325Z,2020-10-08T20:41:00.325Z,4,2,owned,Y,stoveTop,0,0
0,QpmL0Z6uFm,1_2,1_2,Never,bottled,None,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:46:22.384Z,2020-10-08T20:46:22.384Z,4,2,owned,Y,stoveTop,0,0

In [18]:
history.columns

Index(['objectId', 'yearsLivedinthecommunity', 'yearsLivedinThisHouse',
       'waterAccess', 'typeofWaterdoyoudrink', 'latrineAccess', 'clinicAccess',
       'conditionoFloorinyourhouse', 'conditionoRoofinyourhouse',
       'medicalproblemswheredoyougo', 'dentalproblemswheredoyougo',
       'biggestproblemofcommunity', 'timesperweektrashcollected',
       'wheretrashleftbetweenpickups', 'client', 'createdAt', 'updatedAt',
       'numberofIndividualsLivingintheHouse',
       'numberofChildrenLivinginHouseUndertheAgeof5', 'houseownership',
       'bathroomAccess', 'stoveType', 'latitude', 'longitude'],
      dtype='object')

In [19]:
history['yearsLivedinthecommunity'].value_counts()

moreThan10    5107
5_10           763
3_4            469
1_2            465
lessThan1      330
5-10           142
1-2            128
3-4            119
Name: yearsLivedinthecommunity, dtype: int64

In [20]:
history['yearsLivedinThisHouse'].value_counts()

moreThan10    3970
5_10          1006
lessThan1      719
1_2            693
3_4            605
3-4            174
1-2            174
5-10           173
Name: yearsLivedinThisHouse, dtype: int64

In [21]:
history['waterAccess'].value_counts()

everyday    3596
2-3AWeek    2089
Never        620
1AWeek       478
4-6AWeek     467
1AMonth      170
Name: waterAccess, dtype: int64

In [22]:
history['typeofWaterdoyoudrink'].value_counts()

bottled     5839
tap         1488
filtered     151
Name: typeofWaterdoyoudrink, dtype: int64

In [23]:
history['latrineAccess'].value_counts()

Y    3627
N     924
Name: latrineAccess, dtype: int64

In [24]:
history['clinicAccess'].value_counts()

Y    5269
N    2170
Name: clinicAccess, dtype: int64

In [25]:
history['conditionoFloorinyourhouse'].value_counts()

cementWorking    4373
cementPoor       2365
dirtPoor          386
dirtWorking       288
Name: conditionoFloorinyourhouse, dtype: int64

In [27]:
history['conditionoRoofinyourhouse'].value_counts()

working    5158
poor       2220
Name: conditionoRoofinyourhouse, dtype: int64

In [35]:
history['medicalproblemswheredoyougo'].value_counts()[:35]

Hospital                      1165
Al hospital                    635
Hospital                       366
Al musa                        247
Al musa                        227
Hospital musa                  198
Clinica                        155
A la unap                      148
A ramon santana                130
Hospital Dr Antonio Musa       120
Van a ramon santana             97
Hospital musa                   86
A la unap                       84
Van a monte cristy              83
Al policlinico                  79
Al hospital                     74
no                              71
Policlinico                     62
Hospital de Ramón Santana       57
Policlinica                     53
Secadora                        46
Unap Batey Alemán               45
Unap santa fe                   44
Clinica franklin peña           44
Constanza                       42
Va a el musa                    38
A consuelo                      38
Hospital ramon santana          37
Unap Batey Esperanza            36
hospital                        35
El cercado                      34
Unap Batey El Soco              34
Unap Santa fe                   33
A ramón Santana                 32
Unaps de santa fe               29
Name: medicalproblemswheredoyougo, dtype: int64

In [49]:
med_location = []
for m in history['medicalproblemswheredoyougo']:
    m = str(m).lower()
    if 'musa' in m:
        med_location.append("Al Musa Hospital")
    elif 'ramon' in m or 'santana' in m:
        med_location.append("Ramon Santana Hospital")
    elif 'hospital' in m:
        med_location.append("Other Hospital")
    elif 'clinic' in m:
        med_location.append("Clinic")
    else:
        med_location.append("Other")
pd.Series(med_location).value_counts()
history['medicalproblemswheredoyougo'] = med_location

In [41]:
history['medicalproblemswheredoyougo'].value_counts()

Other                     3290
Other Hospital            2616
Al Musa Hospital          1083
Ramon Santana Hospital     557
Name: medicalproblemswheredoyougo, dtype: int64

In [44]:
history['dentalproblemswheredoyougo'].value_counts()[:40]

Hospital                      975
Hospital                      304
Al dentista                   266
Al musa                       227
No va                         221
Al hospital                   209
Dentista                      204
Constanza                     194
Al musa                       180
Clinica                       177
No va                         133
Van a ramon santana           119
Hospital Dr Antonio Musa      104
Ninguna                        95
A ramon santana                93
Van al musa                    90
no                             90
Al hospital                    73
Va aramon santana              60
Unap Santa fe                  60
Hospital de Ramón Santana      57
Al medico publico              56
Hospital musa                  54
No                             47
Dentista privado               41
Hospital musa                  41
Ramon santana                  39
Unap santa fe                  38
A ramón Santana                38
Va al musa                     36
A consuelo                     35
Unaps de santa fe              33
Clínica Franklin Peña          31
No ha ido                      28
A una clínica                  28
Hospital ramon santana         28
Ninguno                        27
Hospital alejo martines        26
Clinica privada                26
Clínica dental privada         25
Name: dentalproblemswheredoyougo, dtype: int64

In [71]:
dent_location = []
for m in history['dentalproblemswheredoyougo']:
    m = str(m).lower()
    if 'musa' in m:
        dent_location.append("Al Musa Hospital")
    elif 'ramon' in m or 'santana' in m:
        dent_location.append("Ramon Santana Hospital")
    elif 'hospital' in m:
        dent_location.append("Other Hospital")
    elif 'dentist' in m or 'dentista' in m:
        dent_location.append("Dentist")
    elif 'clinic' in m: 
        dent_location.append("Clinic")
    else:
        dent_location.append("Other")
pd.Series(dent_location).value_counts()
history['dentalproblemswheredoyougo'] = dent_location

In [72]:
history['dentalproblemswheredoyougo'].value_counts()

Other                     3290
Other Hospital            2616
Al Musa Hospital          1083
Ramon Santana Hospital     557
Name: dentalproblemswheredoyougo, dtype: int64

In [54]:
history['biggestproblemofcommunity'].value_counts()[:30]

El agua                               524
La basura                             277
La calle                              238
La basura                             206
La carretera                          185
El agua                               167
Las calles                            163
Las calles                            144
Desempleo                             102
La calles                              97
La carretera                           95
Salud                                  95
Salud                                  94
La delincuencia                        75
la basura                              64
Ek despleo                             60
Falta de agua                          53
La luz                                 51
La calle                               49
Agua                                   47
ninguno                                40
No hay                                 39
Ninguno                                39
Reparación de viviendas                38
No bay junta d vesino y las calles     36
Arreglo de cosinas                     34
La luz                                 32
Arreglo de casa                        32
no hay empleos                         31
Delincuencia                           29
Name: biggestproblemofcommunity, dtype: int64

In [70]:
comm_prob = []
for m in history['biggestproblemofcommunity']:
    m = str(m).lower()
    if 'agua' in m:
        comm_prob.append("Water")
    elif 'basura' in m:
        comm_prob.append("Garbage")
    elif 'salud' in m:
        comm_prob.append("Health")
    elif 'calle' in m or 'carre' in m:
        comm_prob.append("Roads")
    elif 'empleo' in m:
        comm_prob.append("Unemployment")
    elif 'delinc' in m:
        comm_prob.append("Delinquents")
    elif 'luz' in m:
        comm_prob.append("Lighting")
    else:
        comm_prob.append("Other")
pd.Series(comm_prob).value_counts()
history['biggestproblemofcommunity'] = comm_prob

In [73]:
history['biggestproblemofcommunity'].value_counts()

Other           2783
Roads           1644
Water           1627
Garbage          774
Unemployment     217
Health           207
Lighting         150
Delinquents      144
Name: biggestproblemofcommunity, dtype: int64

In [75]:
history['timesperweektrashcollected'].value_counts()[:30]

1                       4033
2                        827
0                        766
Se guema                 243
Semanal                  170
Una vez a la semana      127
                          93
No se guema               90
No se recoge              77
3                         65
Nunca                     56
Nunca. Se quema           48
7                         37
Viene aveses              36
El camion la recoge       26
15                        26
No biene el camion        25
Una vez a la semana       21
Una ves a la semana       19
5                         14
1 bes por semana          14
Nunca                     14
Cada 15 dias              13
1 vez a la semana         12
1 por semana              12
10-15                     12
Aveses                    11
 Una ves a la semana      11
2 veces                   10
2 veces a la semana       10
Name: timesperweektrashcollected, dtype: int64

In [87]:
trash = []
for m in history['timesperweektrashcollected']:
    m = str(m).lower()
    try: 
        trash.append(int(m))
    except: 
        if '1' in m or 'una' in m or 'semanal' in m:
            trash.append(1)
        elif '2' in m:
            trash.append(2)
        elif '3' in m:
            trash.append(3)
        elif '4' in m:
            trash.append(4)
        elif '5' in m:
            trash.append(5)
        elif '6' in m:
            trash.append(6)
        elif '7' in m:
            trash.append(7)
        elif 'no' in m or 'none' in m or 'nunca' in m:
            trash.append(0)
        elif 'guema' in m or 'quema' in m:
            trash.append("Burned")
        else: 
            trash.append("Unknown")
pd.Series(trash).value_counts()
history['timesperweektrashcollected'] = trash

In [88]:
history['wheretrashleftbetweenpickups'].value_counts()

En la calle                       574
Frente                            351
La calle                          253
En el patio                       248
En la calle principal             234
                                 ...
En elbpley                          1
E. La esguina                       1
A la oriilla de calle               1
La ajuntamo toda y la quemamos      1
En un saco al lado de la casa       1
Name: wheretrashleftbetweenpickups, Length: 809, dtype: int64